<div id="status"></div>

<button id="startGame">START GAME</button>

<div id="container">
	<div>Time Left: <span id="time"></span> seconds</div>

	<div id="displayQuestion"></div>
</div>

<div id="leaderboard">Leaderboard <span id="score"></span></div>
