<div id="status"></div>

<div id="subwrapper">
	<h3>IT'S TIME TO PLAY THE GAME!</h3>
    <h4>Prove the Game Genie, Your the Game master above all and answer his challenge.</h4>
</div>

<div id="subwrapper2">
    <h4>Wanna Play Again</h4>
</div>

<button id="startGame">START GAME</button>

<div id="container">
	<div>Time Left: <span id="time"></span> seconds</div>
	<div id="displaystatus"></div>

	<div id="displayQuestion"></div>
</div>

<div id="leaderboard">Leaderboard <span id="score"></span></div>
